[submodule "require-css"]
	path = libs/require-css
	url = git@github.com:achicu/require-css.git
[submodule "require-less"]
	path = libs/require-less
	url = git@github.com:guybedford/require-less.git
[submodule "require-text"]
	path = libs/require-text
	url = https://github.com/requirejs/text.git
