[submodule "require-css"]
	path = require-css
	url = ./libs/require-css
[submodule "require-less"]
	path = require-less
	url = ./libs/require-less
[submodule "require-text"]
	path = require-text
	url = ./libs/require-text
